future==0.18.2
google-api-core==2.8.2
google-api-python-client==2.54.0
google-auth==2.9.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.2
googleapis-common-protos==1.56.4
Pillow==9.2.0
urllib3==1.26.9
schedule==1.1.0
